{% load leaflet_tags %}

{% leaflet_js %}
{% leaflet_css %}

<style>
    .leaflet-container { /* all maps */
        height: 400px;
    }
</style>
<script type="text/javascript">
    function zoom_to_box(map, bbox) {
        var bounds = [
            [bbox[0], bbox[1]],
            [bbox[2], bbox[3]]
        ];
        map.fitBounds(bounds);
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        var overlay_layers = {};
        map = L.map('the_map', {maxZoom: 30});

        var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        });

        var OpenMapSurfer_Roads = L.tileLayer('http://korona.geog.uni-heidelberg.de/tiles/roads/x={x}&y={y}&z={z}', {
            maxZoom: 20,
            attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        var base_maps = {
            "OpenMapSurfer_Roads": OpenMapSurfer_Roads,
            'OpenStreetMap': osm
        };

        map.addLayer(OpenMapSurfer_Roads);
        var layer_control = L.control.layers(base_maps).addTo(map);

        // Add layers
        {% for layer in layers %}
            // Add tile layers
            
            if ("{{ layer.group }}" != 'background') {
                var tile_layer = L.tileLayer("{{ layer.tms_url }}");
                layer_control.addOverlay(tile_layer, "{{ layer.name }}");
                overlay_layers["{{ layer.name }}"] = tile_layer;
                if ("{{ layer.visibility }}" === "True") {
                    map.addLayer(tile_layer);
                }
                        
            }
        {% endfor %}
        // Set view port
        zoom_to_box(map, [{{ resource.bbox_y0 }}, {{ resource.bbox_x0 }}, {{ resource.bbox_y1 }},{{ resource.bbox_x1 }}]);
    });

    
</script>
